*{
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    position: absolute;
    z-index:1;
}
.row{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

